{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <title>Pagina Inicial - Lista de Produtos</title>
  </head>
  <body>
    <div class="container">
      <center>
        <img
          src="{% static 'images/logo.png' %}"
          alt="Imagem logo"
          width="200px"
        />
      </center>
      <br />
      <div class="alert alert-primary" style="text-align: center">
        Pagina Inicial - Lista de Produtos
      </div>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
            <th scope="col">Estoque</th>
          </tr>
        </thead>

        {% for produto in produtos %}
        <tbody>
          <tr>
            <th scope="row">{{produto.id}}</th>
            <td>
              <a href="{% url 'produto' produto.id %}">{{produto.nome}}</a>
            </td>
            <td>{{produto.preco}}</td>
            <td>{{produto.estoque}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      <button type="button" class="btn btn-outline-primary" onclick="teste()">
        Teste
      </button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/teste.js' %}"></script>
  </body>
</html>
